<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<localRepository>${user.home}/.m2/raptor2</localRepository>
	<mirrors>
		<mirror>
			<id>central</id>
			<mirrorOf>central</mirrorOf>
			<url>https://ebaycentral.qa.ebay.com/content/repositories/central</url>
		</mirror>
	</mirrors>

	<profiles>
		<profile>
			<id>ebay</id>
			<!-- add a repository property to ease the archetype:generate useage -->
			<properties>
				<archetypeCatalog>https://ebaycentral.qa.ebay.com/content/repositories/releases/archetype-catalog.xml
				</archetypeCatalog>
			</properties>
			<repositories>
				<!-- Raptor Repository -->
				<repository>
					<id>raptor-releases</id>
					<url>https://ebaycentral.qa.ebay.com/content/repositories/releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>raptor-snapshots</id>
					<url>https://ebaycentral.qa.ebay.com/content/repositories/snapshots/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>raptor-thirdparty </id>
					<url>https://ebaycentral.qa.ebay.com/content/repositories/thirdparty</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>raptor-commercial </id>
					<url>https://ebaycentral.qa.ebay.com/content/repositories/commercial</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>https://ebaycentral.qa.ebay.com/content/repositories/central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>raptor-releases</id>
					<url>https://ebaycentral.qa.ebay.com/content/repositories/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>raptor-plugins</id>
					<url>https://ebaycentral.qa.ebay.com/content/repositories/plugins</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>raptor-snapshots</id>
					<url>https://ebaycentral.qa.ebay.com/content/repositories/snapshots/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
                <pluginRepository>
                    <id>raptor-thirdparty</id>
                    <url>https://ebaycentral.qa.ebay.com/content/repositories/thirdparty</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>ebay</activeProfile>
	</activeProfiles>

	<pluginGroups>
		<pluginGroup>org.mortbay.jetty</pluginGroup>
		<pluginGroup>com.ebay.raptor.build</pluginGroup>
		<pluginGroup>org.codehaus.mojo</pluginGroup>
		<pluginGroup>org.sonatype.maven.plugins</pluginGroup>
	</pluginGroups>
</settings>
